<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- dependencies -->
    <script src="lib/humanize-duration/humanize-duration.js"></script>
    <script src="lib/momentjs/min/moment-with-locales.min.js"></script>
    <script src="lib/angular-timer/dist/angular-timer.min.js"></script>

    <script src="http://chat.socket.io/socket.io/socket.io.js"></script>

    <script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="lib/angular-socket-io/socket.js"></script>

    <!-- ionic-material -->
    <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>


    <!-- your app's js -->
    <script src="js/timerFactory.js"></script>
    <script src="js/timerCtrl.js"></script>
    <script src="js/newTimerCtrl.js"></script>
    <script src="js/loadTimerCtrl.js"></script>
    <script src="js/GroupTimerCtrl.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="paceme">
    <ion-pane ng-controller="TimerCtrl">
      <ion-header-bar class="bar bar-header">
        <div class="button-bar">
          <div ui-sref="create" class="button">New</div>
          <div ui-sref="timer" class="button">Timer</div>
          <div ui-sref="load" class="button">Load</div>
          <div ui-sref="grouptimer" class="button">Group</div>
        </div>
        </ion-header-bar>
      <ion-nav-view></ion-nav-view>
      <!--<ion-content>
      <div>
        <h2>{{minutes}} minutes</h2>
        <h2>{{seconds}} seconds</h2>
        <div class="button" ng-click="addTime()">Up</div>
        <div class="button" ng-click="removeTime()">Down</div>
      </div>

      <br>
      <timer countdown="time" interval="1000" autostart="false"><h1>{{minutes}} minute{{minutesS}} {{seconds}} second{{secondsS}}</h1></timer>
      </ion-content>-->
      <ion-footer-bar class="bar-stable">
        <div class="button-bar">
          <div class="button" ng-click="playPause()">{{buttonDisplay}}</div>
        </div>
      </ion-footer-bar>
    </ion-pane>
  </body>
</html>
